<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropit</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="box" id="app" @dragover.prevent="handleDragOver" @drop.prevent="handleDrop">
        <!-- 左侧导航 -->
        <div class="left">
            <span class="nav_title">协议</span>
            <div class="nav" v-for="(item,index) in associations" :class="choseNav==item.id? 'chose_nav':''"
                @click="choseNavBtn(item.id,index)">
                <div>
                    <span class="nav_title">{{item.name}}</span>
                    <span class="edit" @click.stop="addRules">
                        <svg t="1736520353214" class="icon" viewBox="0 0 1024 1024" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" p-id="2468"
                            data-spm-anchor-id="a313x.search_index.0.i19.34a13a81RevhYQ" width="16" height="16">
                            <path
                                d="M604.774 44.1a34.133 34.133 0 0 1 48.265 0L814.558 206.03a34.133 34.133 0 0 1 0.683 47.513l-459.162 486.81a34.133 34.133 0 0 1-18.227 10.103L104.516 796.74a34.133 34.133 0 0 1-39.8-41.642l54.205-219.205a34.133 34.133 0 0 1 9.01-15.974L604.844 44.1zM182.886 561.562l-38.98 157.764 169.984-33.724L742.878 230.81 628.873 116.53 182.886 561.493z"
                                p-id="2469" data-spm-anchor-id="a313x.search_index.0.i18.34a13a81RevhYQ"
                                class="selected" fill="#ffffff"></path>
                            <path
                                d="M650.581 328.158L530.978 214.153l-48.264 47.854L603.75 377.856zM84.651 981.06h849.92a34.133 34.133 0 0 0 0-68.266H84.65a34.133 34.133 0 1 0 0 68.266z"
                                p-id="2470" data-spm-anchor-id="a313x.search_index.0.i20.34a13a81RevhYQ"
                                class="selected" fill="#ffffff"></path>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="nav_bottom">
                <div class="icon" @click="addRules">➕</div>
                <div class="icon" @click="config">⚙️</div>
                <div class="icon" @click="help">❓</div>
            </div>

        </div>
        <!-- 右侧 -->
        <div class="right">
            {{content}}
            <!-- <tankuang></tankuang> -->
            <table border="1">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>操作</th>
                        <th>目标</th>
                        <th>结果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="fileData in filesData">
                        <td>
                            <input class="table_input" v-model="fileData.name" value="fileData.name" />
                        </td>
                        <td>
                            <input class="table_input" v-model="fileData.actionName" value="fileData.actionName" />
                        </td>
                        <td>
                            <input class="table_input" v-model="fileData.destination" value="fileData.actionName" />
                        </td>
                        <td>
                            <input class="table_input" v-model="fileData.result" value="fileData.result" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="content_submit" @click="dealFile">处理</button>
            </div>
        </div>
        <!-- 新增导航弹框 -->
        <div class="tankaung_box" v-if="showAddNav">
            <div class="tankuang_cart">
                <div class="tankuang_title">
                    <div class="tankuang_laber">
                        新增
                    </div>
                    <div class="tankuang_close" @click="handldRulesTankuang">
                        X
                    </div>
                </div>
                <div class="tankuang_laber">
                    <form :model="formInfo" action="">
                        <div class="form_item">
                            <div class="form_laber">id</div>
                            <div class="tankuang_laber">
                                <input v-model.number="formInfo.id" class="form_input" />
                            </div>
                        </div>
                        <div class="form_item">
                            <div class="form_laber">名称</div>
                            <div class="tankuang_laber">
                                <input v-model.number="formInfo.name" class="form_input" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tankuang_btn_box">
                    <div class="tankuang_laber">
                        <button class="tankuang_cancel" @click="handldRulesTankuang">取消</button>
                    </div>
                    <div class="tankuang_laber">
                        <button class="tankuang_sure" @click="addForm">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
    <script src="./assets/util.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script> -->
    <script src="./assets/vue.js"></script>

    </script>
</body>

</html>